<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <script src="https://https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/additional-methods.js"></script>  -->

    <script src="jquary.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="edit.ejs">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .link a:hover {
            color: rgb(2, 2, 71);
        }

        .card-content .revenue:hover {

            box-shadow: 4px 4px 4px darkgoldenrod;


        }





        .card-single:hover {
            transform: translate(0, -8px);
        }

        .drop-item .dropdown-toggle {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;

        }

        .drop-content {
            box-shadow: 0 50px 50px rgb(0, 0, 0, .10);
            transform: translateY(50px);
            opacity: 0;
            visibility: hidden;
            transition: .3s;
        }

        .drop-item .drop-content::before {

            position: absolute;
            left: 89%;
            top: -7px;

            width: 14px;
            height: 14px;
            transform: translate(50%) rotate(45deg);
        }

        /* .main-content {
            width: calc(100% - 240px);
        } */

        #sidebar-toggle:checked~.main-content {
            margin-left: 60px;
        }




        #sidebar-toggle:checked~.main {
            width: auto;
        }

        #sidebar-toggle:checked~.main-content .card-body {

            width: 100%;
        }




        #sidebar-toggle:checked~.main-content header {
            left: 220px;
            width: 85.9%;
        }

        header {
            transition: 500ms;
        }



        .main-content {
            transition: margin-left 500ms;

        }



        .sidebar {
            transition: width 500ms;
        }

        #sidebar-toggle {
            display: none;
        }

        /* #sidebar-toggle:checked~ main .card-single {
            height: 100%;
        } */

        #sidebar-toggle:checked~.sidebar {
            width: 220px;
        }

        #sidebar-toggle:checked~.sidebar {
            width: 220px;
        }

        #sidebar-toggle:checked~.sidebar .sidebar-header img {
            display: none;
        }


        #sidebar-toggle:checked~.sidebar .sidebar-header .brand span {
            position: relative;
        }



        #sidebar-toggle:checked~.sidebar .sidebar-menu ul li a {


            justify-content: left;
            margin-left: 20px;
        }

        #sidebar-toggle:checked~.sidebar .sidebar-header {
            justify-content: left;
            margin-left: 10px;
            margin-top: 1rem;
        }

        #sidebar-toggle:checked~.main-content main .card-single {
            display: flex;
        }

        .sidebar .sidebar-header p,
        .sidebar li span:last-child {
            display: none;
        }

        #sidebar-toggle:checked~.sidebar .sidebar-header p,
        #sidebar-toggle:checked~.sidebar li span:last-child {
            display: block;
        }


        #sidebar-toggle:checked~.sidebar .sidebar-header h2 span,
        #sidebar-toggle:checked~.sidebar li a:last-child {
            margin-left: 0;
        }

        #sidebar-toggle:checked~.sidebar .sidebar-header,
        #sidebar-toggle:checked~.sidebar li {
            display: flex;



        }

        #sidebar-toggle:checked~.card-body i h5 h4 a {
            padding-left: 5rem;
        }



        form .paid-btn {
            background: darkorange;
            color: rgb(2, 2, 71);
        }

        form .paid-btn:hover {
            background: rgb(2, 2, 71);
            color: darkorange;
        }

        .submit-btn .f1-btn {
            background: darkorange;
            color: rgb(2, 2, 71);
        }

        .submit-btn .f1-btn:hover {
            background: rgb(2, 2, 71);
            color: darkorange;
        }

        .box .file input:hover {
            border: 2px solid rgb(2, 2, 71);
        }

        .box input:focus {
            border: 2px solid rgb(2, 2, 71);
        }

        .box .company:focus {
            border: 2px solid rgb(2, 2, 71);

        }

        .error {
            font-weight: 700;
            display: block;
            color: #f00;
            font-size: 12px;
            text-align: left;
            /* padding-left: 1rem; */
        }
    </style>
</head>

<body id="body">
    <input type="checkbox" id="sidebar-toggle" class="">
    <div style="background:rgb(2, 2, 71); z-index: 1000;"
        class="sidebar text-white  h-[100%] w-[70px] fixed left-0 top-0 z-50   || xl:h-[100%] xl:w-[80px] xl:fixed xl:left-0 xl:top-0    xl:overflow-y-auto ">
        <div class="sidebar-header">
            <div class="logo flex items-center space-x-2">
                <a href="deskbord2.html">
                    <img style="background: rgb(2,2,71) ;" src="logo.png" alt=""
                        class="w-[45px] h-[45px] cursor-pointer rounded-full border-amber-500 border-2 m-[1rem]  ">

                </a>
                <p class="text-2xl font-bold text-amber-500">SULTAN MOBILE</p>
            </div>
        </div>


        <div style="transition: 500ms;" class="sidebar-menu  ">
            <ul>
                <li
                    class=" mb-[1rem]  py-2 || xl:mb-[1rem] items-center  xl:py-2 hover:border-l-4 hover:border-l-amber-500 ">
                    <a href="deskbord2.html"
                        class="ml-5 text-lg font-semibold hover:font-semibold flex  items-center space-x-2 hover:text-amber-500">
                        <i class="fa-solid fa-home  text-2xl pr-[.5rem] hover:font-semibold || xl:pr-[.6rem]"></i>
                        <span class=""> Dashboard</span>
                    </a>
                </li>


                <li
                    class=" mb-[1rem] items-center py-2 || xl:mb-[1rem]  xl:py-2 hover:border-l-4 hover:border-l-amber-500 ">
                    <a href="allcustomer.html"
                        class="ml-5 text-lg font-semibold flex items-center  space-x-2 hover:text-amber-500">
                        <i class="fa-solid fa-users  text-2xl  pr-[.5rem] || ||xl:pr-[.6rem]"></i>
                        <span>Customers</span>
                    </a>
                </li>

                <li
                    class=" mb-[1rem] items-center py-2 || xl:mb-[1rem]  xl:py-2 hover:border-l-4 hover:border-l-amber-500 ">
                    <a href="" class="ml-5 text-lg font-semibold flex items-center  space-x-2 hover:text-amber-500">
                        <i class="fa-solid fa-history  text-2xl  pr-[.5rem] || ||xl:pr-[.6rem]"></i>
                        <span>History</span>
                    </a>
                </li>

                <li
                    class=" mb-[1rem] items-center py-2 || xl:mb-[1rem]  xl:py-2 hover:border-l-4 hover:border-l-amber-500 ">
                    <a href="about.html"
                        class="ml-5 text-lg font-semibold flex items-center space-x-2 hover:text-amber-500 ">
                        <i class="fa-solid fa-user  text-2xl  pr-[.5rem] || ||xl:pr-[.6rem]"></i>
                        <span>About</span>
                    </a>
                </li>

                <li
                    class=" mb-[1rem] items-center py-2 || xl:mb-[1rem]  xl:py-2 hover:border-l-4 hover:border-l-amber-500 ">
                    <a href="contect.html"
                        class="ml-5 text-lg font-semibold flex items-center  space-x-2 hover:text-amber-500 ">
                        <i class="fa-solid fa-phone  text-2xl pr-[.5rem] || || xl:pr-[.6rem]"></i>
                        <span>Contact</span>
                    </a>
                </li>

                <li
                    class=" mb-[1rem] items-center py-2 || xl:mb-[1rem]  xl:py-2 hover:border-l-4 hover:border-l-amber-500 ">
                    <a href="" class="ml-5 text-lg font-semibold flex items-center space-x-2 hover:text-amber-500">
                        <i class="fa-brands fa-whatsapp  text-3xl pr-[.5rem] || || xl:pr-[.6rem]"></i>
                        <span>Whatsapp</span>
                    </a>
                </li>

                <li
                    class=" mb-[1rem] items-center py-2 || xl:mb-[1rem]  xl:py-2 hover:border-l-4 hover:border-l-amber-500 ">
                    <a href="form1.html"
                        class="ml-5 text-lg font-semibold flex items-center space-x-2 hover:text-amber-500 ">
                        <i class="fa-solid fa-plus  h text-4xl pr-[.5rem] || || xl:pr-[.6rem]"></i>
                        <span>Add Customer</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-content ml-[75px] ||  xl:ml-[80px]">
        <header
            class=" fixed top-0 z-50   bg-white h-[60px] flex items-center justify-between pr-[.5rem] pl-[.5rem] left-[70px] border border-b-2 border-b-black w-[82%] || md:left-[190px]  md:w-[77%]
            || xl:top-0 xl:z-50  xl:w-[95%]  xl:bg-white xl:h-[60px] xl:flex xl:items-center  xl:pr-[1rem] xl:pl-[1rem] xl:left-[80px] xl:border xl:border-b-2 xl:border-b-black">
            <div class="left-header flex space-x-3 items-center">
                <label for="sidebar-toggle" class="ti-menu-alt cursor-pointer   ">
                    <i class="fa-solid fa-bars  text-2xl ml-0 xl:ml-0 hover:text-amber-500 "></i>
                </label>

                <div class="headings flex ml-0    xl:justify-start xl:ml-10 xl:pt-0 ">

                    <p style="color:rgb(2,2,71) ;" class="text-xl  font-bold  xl:mt-0 xl:text-4xl "> Update
                        EMI :-</p>
                </div>

                <!-- <div class="search-wrapper flex items-center || xl:flex ">
                    <i class="fa-solid fa-search"></i>
                    <input type="search"
                        class="boder-none outline-none pl-[.5rem] h-[30px] w-[120px] || xl:pl-[1rem] xl:h-[38px] xl:w-[200px]"
                        name="search" id="search" placeholder="Search">
    
                </div> -->
            </div>

            <div class="right-header">

                <div class="social-icon flex items-center space-x-2  || md:mr-0 || xl:space-x-5 xl:mr-0  ">
                    <i class="fa-solid fa-bell cursor-pointer text-xl  "></i>
                    <i class="fa-solid fa-message cursor-pointer text-xl "></i>
                    <div class="drop-item xl:flex xl:justify-center xl:items-center xl:flex-col ">
                        <div class="img" onclick="MyFunction()">
                            <img src="shad.png" alt=""
                                class=" cursor-pointer border-0 border-black w-[50px] h-[50px] object-cover rounded-full || md:w-[40px] md:h-[40px] md:object-cover md:rounded-full  || xl:w-[50px] xl:h-[50px] xl:object-cover xl:rounded-full">

                        </div>

                        <div style="background:rgb(2, 2, 71);"
                            class="drop-content rounded-md    absolute  top-[45px]  right-[3.5rem] pt-[10px] pb-[10px] pl-[15px] pr-[15px]  mt-[20px]  || xl:pt-[10px] xl:pb-[10px] xl:pl-[15px] xl:pr-[15px]  xl:mt-[20px] xl:top-[45px] xl:right-[1.5rem]  before:absolute before:left-[45%] before:top-[-6px]  before:w-[12px] ">
                            <div class="NAME font-bold text-white mb-3 mt-3">
                                <P>RAJPUT MOHAMMADSHAD</P>
                            </div>


                            <ul class="link  ">
                                <li class="h-[30px] pt-1  py-2  hover:bg-white hover:rounded-md  ">
                                    <a href="#" class="text-white   ml-5 font-semibold  py-1 "><i
                                            class="fa-solid fa-user  inline-block  w-[20px] mr-[5px]">
                                        </i> My Profile</a>
                                </li>
                                <li class="h-[30px] pt-1  py-2  hover:bg-white hover:rounded-md  "><a href="#"
                                        class="text-white   ml-5 font-semibold  py-1 "><i
                                            class="fa-solid fa-pen-to-square inline-block  w-[20px] mr-[5px]"></i>Edit
                                        Profile</a></li>
                                <div class="drivider mt-[10px] mb-[10px] border-b-2 border-b-white"></div>
                                <li class="h-[30px] pt-1  py-2  hover:bg-white hover:rounded-md  "><a href="fpass.html"
                                        class="text-white   ml-5 font-semibold  py-1 "> <i
                                            class="fa-solid fa-lock inline-block  w-[20px] mr-[5px]"></i>Change
                                        Password</a>
                                </li>
                                <li class="h-[30px] pt-1  py-2  hover:bg-white hover:rounded-md  "><a href="#"
                                        class="text-white   ml-5 font-semibold  py-1 "> <i
                                            class="fa-solid fa-user-gear inline-block  w-[20px] mr-[5px]"></i>Settings</a>
                                </li>
                                <div class="drivider mt-[10px] mb-[10px] border-b-2 border-b-white"></div>

                                <li class="h-[30px] pt-1  py-2  hover:bg-white hover:rounded-md  "><a href="login.html"
                                        class="text-white   ml-5 font-semibold  py-1 "><i
                                            class="fa-solid fa-right-from-bracket inline-block  w-[20px] mr-[5px]"></i>Logout</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div
            class="form bg-white   w-full || md:ml-[0px] md:mr-[20px] || xl:flex xl:justify-center xl:content-center xl:items-center  ">


            <div class="box">

                <form action="" id="form">


                    <div class="headings flex  justify-center items-center pt-[5rem]  ml-3 xl:pt-[4rem] ">

                        <p style="color:rgb(2, 2, 71);" class="text-3xl    font-bold     ">EMI Details :-</p>
                    </div>


                    <div
                        class="8row  md:w-[100%] md:space-x-5 || xl:flex w-[100%] justify-center  items-center py-3  xl:w-[100%] xl:ml-0  ">

                        <p style="color:rgb(2, 2, 71);"
                            class=" font-bold text-xl xl:text-xl pt-3 uppercase text-center  xl:w-[20%] xl:pt-0 ">Down
                            Payment
                            :*
                        </p>

                        <div
                            class="1input py-2 pl-0 pr-2 w-[100%] || md:pl-0 md:w-[100%]  || xl:pl-0  xl:w-[40%] xl:pt-0  xl:pb-0 items-center ">
                            <div
                                class="space-x-6 ml-5 flex md:space-x-10 md:ml-0 md:flex md:justify-center  xl:space-x-5 xl:ml-0 items-center  ">
                                <div class="">

                                    <input type="number" id="fdown" name="fdown" value="<%= data.fdown %>"
                                        class="my-1 w-28 py-2 rounded-md px-3  text-base  bg-white border-gray-500 border hover:outline-2   || md:w-[33rem] || xl:w-56 "
                                        placeholder="Fisrt Down Payment " required>
                                </div>
                                <div class="">
                                    <div class="input flex items-center">

                                        <input type="date" name="fddate" id="fddate" value="<%= data.fddate%>"
                                            class="my-2 py-2 rounded-md px-3 w-28 text-base  bg-white border-gray-500 border hover:outline-2  || md:w-[20rem]  || xl:w-[15rem]   "
                                            placeholder="Select First DP Date" required>
                                        <i class="fa-regular fa-calendar relative right-[1.8rem]"></i>
                                    </div>
                                    <label for="fddate" class="error" id="error"></label>

                                </div>
                            </div>

                        </div>

                        <input type="hidden" name="id" value="<%= data.id %>">



                        <div
                            class="2input py-2  w-[100%] || md:pl-0 md:w-[100%]  || xl:pl-0  xl:w-[40%] xl:pt-0 xl:pb-0   ">
                            <div
                                class="space-x-6 flex ml-5 md:space-x-10 md:ml-0 md:flex md:justify-center  xl:space-x-5 xl:ml-0   ">
                                <div class="">
                                    <input type="number" name="sdown" id="sdown" value="<%= data.sdown%>" class="my-2 py-2 rounded-md px-3 w-28 text-base bg-white border-gray-500 border
                                    hover:outline-2 || md:w-[20rem] || xl:w-[15rem] "
                                        placeholder="Second Down Payment">

                                </div>
                                <div class="">
                                    <div class="input flex items-center">

                                        <input type="date" name="sddate" id="sddate" value="<%= data.sddate%>"
                                            class="my-2 py-2 rounded-md px-3 w-28 text-base  bg-white border-gray-500 border hover:outline-2  || md:w-[20rem]  || xl:w-[15rem]   "
                                            placeholder="Select Secound DP Date">
                                        <i class="fa-regular fa-calendar relative right-[1.8rem]"></i>
                                    </div>
                                    <label for="sddate" class="error" id="error"></label>

                                </div>
                            </div>

                        </div>
                    </div>


                    <div class="9row xl:flex w-[100%] justify-center  items-center py-3 xl:w-[100%]   ">
                        <p style="color: rgb(2,2,71);"
                            class=" font-bold text-xl xl:text-xl pt-3 uppercase text-center xl:w-[12%]  xl:pt-0  ">First
                            EMI :*
                        </p>

                        <div
                            class="1input py-2  w-[100%] || md:pl-0 md:w-[100%]  || xl:pl-0  xl:w-[40%]  xl:flex items-center xl:space-x-5 ">
                            <div
                                class="space-x-6  flex  ml-5 md:space-x-10 md:ml-0 md:flex md:justify-center   xl:ml-0   ">
                                <div class="">

                                    <input type="number" name="femi" id="femi" value="<%= data.femi%>" class="my-2 py-2 rounded-md px-3 w-28 text-base bg-white border-gray-500 border
                                    hover:outline-2 || md:w-[20rem] || xl:w-[15rem] " placeholder=" Enter First EMI"
                                        required>
                                </div>
                                <div class="">
                                    <div class="input flex items-center">

                                        <input type="date" name="fdate" id="fdate" value="<%= data.fdate%>"
                                            class="my-2 py-2 rounded-md px-3 w-28 text-base  bg-white border-gray-500 border hover:outline-2  || md:w-[20rem]  || xl:w-[15rem]   "
                                            placeholder="Select First EMI Date" required>
                                        <i class="fa-regular fa-calendar relative right-[1.8rem]"></i>
                                    </div>
                                    <label for="fdate" class="error" id="error"></label>

                                </div>
                            </div>
                            <div class="justify-center items-center text-center content-center pt-[1rem] xl:pt-0">


                                <a href="/msgsent?" id="paid-btn1" onclick="popup()"
                                    class=" paid-btn  text-amber-500 font-bold border-2 cursor-pointer   relative px-8  xl:px-8 py-[6px] rounded-md  hover:border-2 hover:bg-amber-500 text-lg || ">PAID</a>

                            </div>

                        </div>
                    </div>




                    <div class="10row xl:flex w-[100%] justify-center  items-center py-3 xl:w-[100%]   ">
                        <p style="color: rgb(2,2,71);"
                            class=" font-bold text-xl xl:text-xl pt-3 uppercase text-center xl:w-[12%]  xl:pt-0 ">Second
                            EMI :*
                        </p>

                        <div
                            class="1input py-2  w-[100%] || md:pl-0 md:w-[100%]  || xl:pl-0  xl:w-[40%]  xl:space-x-5  xl:flex items-center">
                            <div
                                class="space-x-6  flex ml-5 md:space-x-10 md:ml-0 md:flex md:justify-center   xl:ml-0   ">
                                <div class="">

                                    <input type="number" name="semi" id="semi" value="<%= data.semi%>"
                                        class="my-2 py-2  rounded-md px-3  w-28 text-base  bg-white border-gray-500 border hover:outline-2   || md:w-[20rem]  || xl:w-[15rem] "
                                        placeholder=" Enter Second EMI" required>
                                </div>
                                <div class="">
                                    <div class="input flex items-center">

                                        <input type="date" name="sdate" id="sdate" value="<%= data.sdate%>"
                                            class="my-2 py-2 rounded-md px-3 w-28 text-base  bg-white border-gray-500 border hover:outline-2  || md:w-[20rem]  || xl:w-[15rem]   "
                                            placeholder="Select Secound EMI Date" required>
                                        <i class="fa-regular fa-calendar relative right-[1.8rem]"></i>
                                    </div>
                                    <label for="sdate" class="error" id="error"></label>

                                </div>

                            </div>
                            <div class="justify-center items-center text-center content-center pt-[1rem] xl:pt-0">

                                <a href="#" id="paid-btn2" onclick="popup()"
                                    class=" paid-btn  text-amber-500 font-bold border-2 cursor-pointer   relative px-8  xl:px-8 py-[6px] rounded-md  hover:border-2 hover:bg-amber-500 text-lg || ">PAID</a>



                            </div>

                        </div>

                    </div>

                    <div class="10row xl:flex w-[100%] justify-center  items-center py-3 xl:w-[100%]   ">
                        <p style="color: rgb(2,2,71);"
                            class=" font-bold text-xl xl:text-xl pt-3 uppercase text-center xl:w-[12%]  xl:pt-0 ">Third
                            EMI :*
                        </p>

                        <div
                            class="1input py-2  w-[100%] || md:pl-0 md:w-[100%]  || xl:pl-0  xl:w-[40%]  xl:space-x-5  xl:flex items-center">
                            <div
                                class="space-x-6  flex ml-5 md:space-x-10 md:ml-0 md:flex md:justify-center   xl:ml-0   ">
                                <div class="">

                                    <input type="number" name="temi" id="temi" value="<%= data.temi%>" class="my-2 py-2 rounded-md px-3 w-28 text-base bg-white border-gray-500 border
                                    hover:outline-2 || md:w-[20rem] || xl:w-[15rem] " placeholder=" Enter Third EMI">
                                </div>
                                <div class="">
                                    <div class="input flex items-center">

                                        <input type="date" name="tdate" id="tdate" value="<%= data.tdate%>" class="my-2 py-2 rounded-md px-3 w-28 text-base bg-white border-gray-500 border
                                        hover:outline-2 || md:w-[20rem] || xl:w-[15rem] "
                                            placeholder="Select Third EMI Date">
                                        <i class="fa-regular fa-calendar relative right-[1.8rem]"></i>
                                    </div>
                                    <label for="tdate" class="error" id="error"></label>

                                </div>

                            </div>
                            <div class="justify-center items-center text-center content-center pt-[1rem] xl:pt-0">

                                <button>

                                    <a href="#" id="paid-btn3" onclick="popup()"
                                        class=" paid-btn  text-amber-500 font-bold border-2 cursor-pointer   relative px-8  xl:px-8 py-[6px] rounded-md  hover:border-2 hover:bg-amber-500 text-lg || ">PAID</button></a>


                                </button>
                            </div>

                        </div>

                    </div>

                    <div class="9row  xl:flex w-[100%] justify-center  items-center py-3 xl:w-[100%] xl:pb-[1rem]  ">
                        <p style="color: rgb(2,2,71);"
                            class=" font-bold text-xl xl:text-xl pt-3 uppercase text-center xl:w-[15%] xl:pt-0  ">Final
                            Amount :*
                        </p>

                        <div class="1input py-2  w-[100%] || md:pl-0 md:w-[100%]  || xl:pl-0  xl:w-[40%]    ">
                            <div class="space-x-6 flex ml-[1rem]  md:ml-0 md:flex justify-center  xl:ml-0   ">


                                <input type="number" name="finalamount" id="finalamount" value="<%= data.finalamount%>"
                                    class="my-2 py-2  rounded-md px-3  w-28 text-base  bg-white border-gray-500 border hover:outline-2   || md:w-[20rem]  || xl:w-[15rem] "
                                    placeholder=" Final Price" required>

                            </div>

                        </div>
                    </div>

                    <div class="ref text-3xl  text-blue-900 text-center font-bold    ">
                        <p style="color:rgb(2,2,71) ;" class="">Phone Details</p>
                    </div>

                    <div
                        class="2row  justify-center content-center  items-center  || xl:flex xl:justify-center xl:space-x-5  py-5  ">
                        <div class="1input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="fname" class="text-base ml-2 md:ml-2">BILL PHOTO</label>
                                <input type="file" id="bphoto" name="bphoto" value="<%= data.bphoto%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3    text-base  bg-white border  border-gray-500 || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter First Name" required>
                            </div>

                        </div>
                        <div class="2input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="fname" class="text-base ml-2 md:ml-2">INVOICE NUMBER</label>
                                <input type="number" id="inumber" name="inumber" value="<%= data.inumber%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3    text-base  bg-white border  border-gray-500 || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter Middle Name" required>
                            </div>

                        </div>
                        <div class="3input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="fname" class="text-base ml-2 md:ml-2">PHONE PRICE</label>
                                <input type="text" id="pamount" name="pamount" value="<%= data.pamount%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3    text-base  bg-white border  border-gray-500 || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter Last Name" required>
                            </div>

                        </div>
                    </div>


                    <div
                        class="11row xl:flex justify-center content-center  items-center xl:mr-0  xl:py-5 xl:pb-[2rem] ">

                        <div
                            class="1input py-2 pl-[10px] w-[100%] || md:pl-[7rem] md:w-[55%]  || xl:pl-0 xl:w-[20%]    ">
                            <div class="">
                                <label for="fname" class="text-base ml-2 md:ml-2 uppercase  ">Select Company*</label>
                                <select name="company" id="company" value="<%= data.company%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3  text-base  bg-white border-gray-500 border hover:outline-2   || md:w-[33rem] || xl:w-56 "
                                    required>
                                    <option value="">Select</option>
                                    <option value="apple">Apple</option>
                                    <option value="saab">Onepluse</option>
                                    <option value="opel">Oppo</option>
                                    <option value="audi">Vivo</option>
                                    <option value="audi">Redmi</option>
                                    <option value="audi">RealMe</option>
                                    <option value="audi">Tecno</option>
                                    <option value="audi">Poco</option>
                                    <option value="audi">Itel</option>
                                    <option value="audi">Other</option>




                                </select>
                            </div>

                        </div>
                        <div class="2input py-2 pl-[10px] w-[100%] || md:pl-[7rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="w-">
                                <label for="fname" class="text-base ml-2 md:ml-2  uppercase ">Modal Name*</label>
                                <input type="text" id="moname" name="moname" value="<%= data.moname%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3  text-base  bg-white border-gray-500 border hover:outline-2   || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter Modal Name" required>
                            </div>

                        </div>
                        <div
                            class="3input py-3 pl-[10px] w-[100%] || md:pl-[7rem] md:w-[55%] md:mb-3 || xl:w-[25%] xl:mb-0    ">
                            <div class="">
                                <label for="fname" class="text-base ml-2 md:ml-2 uppercase ">Select RAM*</label>
                                <select name="ram" id="ram" value="<%= data.ram%>" class="my-1 w-[280px] py-2 rounded-md px-3 text-base bg-white border-gray-500 border
                                    hover:outline-2 || md:w-[33rem] || xl:w-56 " required>
                                    <option value="">Select</option>
                                    <option value="2/32">2/32</option>
                                    <option value="3/32">3/32</option>

                                    <option value="3/64">3/64</option>
                                    <option value="4/64">4/64</option>
                                    <option value="6/64">6/64</option>
                                    <option value="6/128">6/128</option>
                                    <option value="8/128">8/128</option>



                                </select>
                            </div>

                        </div>
                    </div>

                    <hr style="background:rgb(2,2,71) ;" class=" h-[3px]">

                    <div
                        class="12row  justify-center items-center text-center || md:mt-10 md:w-[100%] || xl:w-[1000px] xl:pr-[135px] md:pr-[135px]  xl:mt-[2rem] ">
                        <div
                            class="  || md:pl-[5rem] || xl:py-5 xl:pl-[40px] xl:flex  xl:justify-center xl:content-center ">
                            <div class="profile mr-auto  xl:mr-auto   ">
                                <div class="img  ml-[2.2rem] py-3 || md:ml-[12rem] || xl:ml-7 xl:py-2  ">
                                    <img src="user.jpg" alt=""
                                        class=" cursor-pointer border-0  border-black w-[55px] h-[55px] object-cover rounded-full || md:w-[45px] md:h-[45px] md:object-cover md:rounded-full  || xl:w-[60px] xl:h-[60px] xl:object-cover xl:rounded-full">
                                </div>
                                <div class=" text-left ml-4 ">
                                    <label for="" class="text-base  md:mr-8 xl:pr-2 ">Customer Photo*</label>

                                </div>

                                <div class="file  ">
                                    <div class="file  ">
                                        <input type="file" name="cphoto" id="cphoto" value="<%= data.cphoto%>"
                                            class=" border  rounded-md  hover:border-2 hover:border-amber-500 w-[15rem] mr-[4rem] relative font-semibold   px-3 py-2 || md:w-[15rem] ||  xl:w-[15rem]   "
                                            required>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="2row   || xl:flex xl:justify-center xl:space-x-5   ">
                        <div class="1input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="fname" class="text-base ml-2 md:ml-2">First Name*</label>
                                <input type="text" id="fname" name="fname" value="<%= data.fname%>" class="my-1 w-[280px] py-2 rounded-md px-3 text-base bg-white border border-gray-500 ||
                                md:w-[33rem] || xl:w-56 " placeholder="Enter First Name" required>
                            </div>

                        </div>
                        <div class="2input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="mname" class="text-base ml-2 md:ml-2">Middle Name</label>
                                <input type="text" id="mname" name="mname" value="<%= data.lname%>" class="my-1 w-[280px] py-2 rounded-md px-3 text-base bg-white border border-gray-500 ||
                                md:w-[33rem] || xl:w-56 " placeholder="Enter Middle Name" required>
                            </div>

                        </div>
                        <div class="3input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="lname" class="text-base ml-2 md:ml-2">Last Name*</label>
                                <input type="text" id="lname" name="lname" value="<%= data.lname%>" class="my-1 w-[280px] py-2 rounded-md px-3 text-base bg-white border border-gray-500 ||
                                md:w-[33rem] || xl:w-56 " placeholder="Enter Last Name" required>
                            </div>

                        </div>
                    </div>
                    <div class="3row xl:flex xl:justify-center xl:space-x-5  xl:py-2 ">
                        <div class="1input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="number" class="text-base ml-2 md:ml-2">Mobile No.* <span
                                        class="text-gray-400 font-semibold text-xs">(Whatsapp No)</span></label>
                                <input type="number" id="number" name="number" value="<%= data.number%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3    text-base  bg-white border  border-gray-500 || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter Mobile Number" required>
                            </div>

                        </div>
                        <div class="2input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="" class="text-base ml-2 md:ml-2">Mobile No.* <span
                                        class="text-gray-400 font-semibold text-xs">(Alternative)</span></label>
                                <input type="number" id="onumber" name="onumber" value="<%= data.onumber%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3    text-base  bg-white border  border-gray-500 || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter Alternative Number">
                            </div>

                        </div>
                        <div class="3input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="email" class="text-base ml-2 md:ml-2">Email Address*</label>
                                <input type="email" id="email" name="email" value="<%= data.email%>" class="my-1 w-[280px] py-2 rounded-md px-3 text-base bg-white border border-gray-500 ||
                                md:w-[33rem] || xl:w-56 " placeholder="Enter Email " required>
                            </div>

                        </div>
                    </div>
                    <div class="4row  xl:flex xl:justify-center xl:space-x-0  xl:py-2">
                        <div
                            class="1input  pl-[10px] w-[100%] || md:pl-[3rem] md:w-[55%]  ||  xl:pl-0  xl:w-[20rem]     ">
                            <div class="py-2 s">
                                <label for="bdate" class="text-base ml-2 md:ml-2 xl:pl-0">Date Of Birth</label>
                                <div class="date flex items-center  cursor-pointer">

                                    <input type="date" name="bdate" id="bdate" value="<%= data.bdate%>" class="my-2 py-2 rounded-md px-3 w-[280px] text-base bg-white border-gray-500 border
                                    hover:outline-2 || md:w-[20rem] || xl:w-[15rem] " placeholder="Select Birth Date"
                                        required>
                                    <i class="fa-regular fa-calendar relative right-[1.5rem]"></i>

                                </div>
                                <label for="bdate" id="error" class="error"></label>
                            </div>

                        </div>
                        <div
                            class="3input py-3 pl-[10px] w-[100%] || md:pl-[7rem] md:w-[55%] md:mb-3 || xl:w-[25%] xl:mb-0    ">
                            <div class="">
                                <label for="fname" class="text-base ml-2 md:ml-2 uppercase ">Select Gender*</label>
                                <select name="gender" id="gender" value="<%= data.gender%>" class="my-1 w-[280px] py-2 rounded-md px-3 text-base bg-white border-gray-500 border
                                    hover:outline-2 || md:w-[33rem] || xl:w-56 " required>
                                    <option value="Select">Select</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>





                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="ref text-3xl  text-blue-900 text-center font-semibold py-10   ">
                        <p style="color:rgb(2,2,71) ;" class="">Refrence Details :</p>
                    </div>

                    <div class="5row   || xl:flex xl:justify-center xl:space-x-5 xl:pb-[2rem]  ">
                        <div class="1input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="fname" class="text-base ml-2 md:ml-2">First Name*</label>
                                <input type="text" name="rfname" id="rfname" value="<%= data.rfname%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3    text-base  bg-white border  border-gray-500 || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter First Name" required>
                            </div>

                        </div>
                        <div class="1input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="fname" class="text-base ml-2 md:ml-2">Last Name</label>
                                <input type="text" id="rlname" name="rlname" value="<%= data.rlname%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3    text-base  bg-white border  border-gray-500 || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter Last Name" required>
                            </div>

                        </div>
                        <div class="1input  pl-[10px] w-[100%] || md:pl-[4rem] md:w-[55%]  || xl:w-[25%]    ">
                            <div class="py-2">
                                <label for="fname" class="text-base ml-2 md:ml-2">Mobile Number* <span
                                        class="text-gray-400 font-semibold text-xs">(Whatsapp No)</span></label>
                                <input type="number" id="rnumber" name="rnumber" value="<%= data.rnumber%>"
                                    class="my-1 w-[280px] py-2 rounded-md px-3    text-base  bg-white border  border-gray-500 || md:w-[33rem] || xl:w-56 "
                                    placeholder="Enter Mobile Number" required>
                            </div>

                        </div>
                    </div>



                    <div class="7row py-8 text-center xl:flex xl:justify-end  xl:py-5  xl:pt-16 xl:mr-14    ">
                        <div class=" submit-btn xl:space-x-10">
                            <button onclick="back()"
                                class=" f1-btn  text-amber-500 font-bold border-2  relative px-8  xl:px-10 py-[6px] rounded-md  hover:border-2 hover:bg-amber-500 text-lg || ">Back</button>

                            <input type="submit" id="submit"
                                class=" f1-btn  text-amber-500 font-bold border-2 cursor-pointer  relative px-8  xl:px-10 py-[6px] rounded-md  hover:border-2 hover:bg-amber-500 text-lg ||  "
                                value="Update">

                        </div>
                    </div>
                </form>






            </div>


        </div>
    </div>








    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        // var btn_hambug = document.getElementById('btn_hamburg');

        function showmenu() {
            $('#menu').css({ "left": "0", "width": "270px" });
        }
        $('document').ready(function () {

            $('#close-btn').click(function () {
                $('#menu').css("left", "-272px");
            })

        })

        function MyFunction() {
            var dropcontent = document.querySelector('.drop-content');
            dropcontent.classList.toggle('dropdown-toggle');
        }

        $(document).ready(function () {

            //<--------------------   Date Field  -------------------------->

            config = {
                enableTime: true,
                dateFormat: "d-m-y",
            }
                -
                flatpickr("#fddate,#sddate,#fdate,#sdate,#tdate,#bdate", {});



            // <--------------------  validation  ------------------------->

            $.validator.addMethod("lettersonly", function (value, element) {
                return this.optional(element) || /^[a-z]+$/i.test(value);
            }, "Letters only please");


            $("#form").validate({


                rules: {

                    // form3 details validation 

                    bphoto: {
                        required: true

                    },

                    inumber: {
                        required: true
                    },

                    company: {
                        required: true
                    },

                    moname: {
                        required: true

                    },

                    ram: {
                        required: true

                    },

                    pamount: {
                        required: true
                    },

                    fdown: {
                        required: true
                    },

                    fddate: {
                        required: true
                    },
                    sdown: {
                    },

                    sddate: {

                    },
                    femi: {
                        required: true
                    },

                    fdate: {
                        required: true
                    },
                    semi: {
                        required: true
                    },

                    sdate: {
                        required: true
                    },
                    temi: {
                    },

                    tdate: {

                    },
                    finalamount: {
                        required: true

                    },

                    // form 1 details vALIDATION

                    cphoto: {
                        required: true,

                    },


                    fname: {
                        required: true,
                        minlength: 3,
                        lettersonly: true
                    },

                    mname: {
                        lettersonly: true
                    },

                    lname: {
                        required: true,
                        minlength: 3,
                        lettersonly: true
                    },

                    number: {
                        required: true,
                        minlength: 10,
                        maxlength: 10,


                    },

                    onumber: {
                        minlength: 10,
                        maxlength: 10,
                    },


                    email: {
                        required: true,
                        email: true
                    },

                    bdate: {
                        require: true,



                    },

                    gender: {
                        require: true,

                    },

                    rfname: {
                        required: true,
                        minlength: 3,
                        lettersonly: true
                    },

                    rlname: {
                        required: true,
                        minlength: 3,
                        lettersonly: true
                    },

                    rnumber: {
                        required: true,
                        maxlength: 10,
                        minlength: 10
                    }








                },

                // highlight: function (element) {
                //     $(element).addClass("c1");
                // },


                // unhighlight: function (element) {
                //     $(element).removeClass("c1");
                // },

                messages: {


                    // FORM 3 DETAILS VALIDATION


                    bphoto: {
                        required: "Please upload Bill Photo"

                    },

                    inumber: {
                        required: "Enter Invoice Number"
                    },

                    company: {
                        required: "Please Select Company Name "
                    },



                    moname: {
                        required: "Please Enter Modale Name"

                    },

                    ram: {
                        required: "Please Select RAM"

                    },


                    pamount: {
                        required: "Enter Phone Amount"
                    },


                    fdown: {
                        required: "Please Enter First Down Payment"
                    },

                    fddate: {
                        required: " Select First Down Payment Date"
                    },

                    femi: {
                        required: "Enter First EMI Amount"
                    },

                    fdate: {
                        required: "Select First EMI Date"
                    },
                    semi: {
                        required: "Enter Secound EMI Amount"
                    },

                    sdate: {
                        required: "Select Secound EMI Date"
                    },
                    temi: {
                        required: "Enter Third EMI Amount"

                    },

                    tdate: {
                        required: "Select Third EMI Date"

                    },
                    finalamount: {
                        required: "Enter Final Amount"
                    },

                    // FORM 1 DETAILS VALIDATION

                    cphoto: {
                        required: "Please upload Customer Photo"

                    },

                    fname: {
                        required: "Please Enter  First Name",
                        minlength: "Please Enter At Least 3 Charactors",
                        lettersonly: "Please Enter Only Letters!!",
                    },

                    mname: {
                        lettersonly: "Please Enter Only Letters!!"
                    },

                    lname: {
                        required: "Please Enter  Last Name",
                        minlength: "Please Enter At Least 3 Charactors",
                        lettersonly: "Please Enter Only Letters!!"
                    },

                    number: {

                        required: "Please Enter  Mobile Number",
                        maxlength: "Please Enter Only 10 Digit",
                        minlength: "Please Enter Valid Number"
                    },

                    onumber: {
                        minlength: "Please Enter Valid Number",

                        maxlength: "Please Enter Only 10 Digit"
                    },

                    email: {
                        required: "Please Enter Email Adress",
                        email: "Please Enter Correct Email"
                    },

                    bdate: {
                        required: "Please Select Date ",

                    },

                    gender: {
                        required: "Please Select Gender"
                    },

                    rfname: {
                        required: "Please Enter  First Name",
                        minlength: "Please Enter At Least 3 Charactors",
                        lettersonly: "Please Enter Only Letters!!"
                    },

                    rlname: {
                        required: "Please Enter  First Name",
                        minlength: "Please Enter At Least 3 Charactors",
                        lettersonly: "Please Enter Only Letters!!"
                    },

                    rnumber: {
                        required: "Please Enter  Mobile Number",
                        maxlength: "Please Enter Only 10 Digit",
                        minlength: "Please Enter Valid Number",
                    }







                },

                submitHendler: function (form) {
                    form.submit();
                }




            });


        });


        //<---------------------------   POPUP ------------------------------->

        function popup() {
            Swal.fire({
                title: 'Are you sure?',
                text: " Are You Want pay EMI !!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Pay it!',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        title: 'Sent MSG to Customer',
                        // text: " Are You Want pay EMI !!",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Sent',

                       

                    }).then((result) => {

                        Swal.fire(
                            'Success!',
                            'Your EMI has been Paid.',
                            'success'
                        )
                    })
                } else {

                }
            })




        }

        function back() {
            Swal.fire({
                title: 'Are you sure?',
                text: " Are You Want Close it !!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = "/deskbord2/:id";
                }
            })
        }




                   



    </script>
</body>

</html>